﻿
<!-- Button trigger modal -->
<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myAddModal" id="BtnAddMovie">
    Add
</button>



<!-- Modal -->
<div class="modal fade" id="myAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Movie</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form id="addMovieForm" method="post">
                        <div class="form-group">
                            <label>DVD Id</label>
                            <input type="text" id="dvdId" name="dvdId" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" id="title" name="title" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Release Date</label>
                            <input type="text" id="releaseDate" name="releaseDate" class="form-control" />
                        </div>
                        <div class="form-group" id="addRadio">
                            <label>MPAA Rating</label>
                            <input type="radio" name="rating" value="G" /> G
                            <input type="radio" name="rating" value="PG-13" /> PG-13
                            <input type="radio" name="rating" value="M" /> M
                            <input type="radio" name="rating" value="R" /> R
                        </div>
                        <div class="form-group">
                            <label>Director Name</label>
                            <input type="text" id="directorName" name="directorName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Studio</label>
                            <input type="text" id="studio" name="studio" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>User Rating (1-10)</label>
                            <input type="text" id="userRating" name="userRating" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>User Notes</label>
                            <input type="text" id="userNotes" name="userNotes" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Main Actors</label>
                            <input type="text" id="mainActors" name="mainActors" class="form-control" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="BtnSaveContent">Complete</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="/Scripts/app/jquery-validate-defaults.js"></script>
    <script src="/Scripts/app/AddMovieFieldsValidation.js"></script>

}
