﻿<button type="button" class="btn btn-info
         btn-sm" data-toggle="modal" data-target="#myRentModal" id="BtnRentMovie">
    Rent
</button>

<!-- Modal -->
<div class="modal fade" id="myRentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <label> Dvd List</label>
                        <select id="MovieDropdown">
                            
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Rent</button>
            </div>
        </div>
    </div>
</div>
