﻿

<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myDisplayModal" id="BtnDisplayMovie">
    Display
</button>


<div class="modal fade bs-example-modal-lg" id="myDisplayModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Display Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form id="displayMovieForm" method="post">
                        <div class="form-group">
                            <label>Enter DVD ID Number</label>
                            <input type="text" id="dvdDisplayId" name="dvdDisplayId" class="form-control" />
                        </div>
                    </form>
                </div>
                <div class="container">
                    <div class="row">
                        <table id="modalDisplayTable" class="table table-striped table-responsive">
                            <thead>
                           
                            </thead>
                            <tbody>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="BtnDisplayConfirm">Show Details</button>
            </div> 
        </div>
    </div>
</div>

