﻿

<button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#mySearchModal" id="BtnSearchMovie">
    Search
</button>



<div class="modal fade" tabindex="-1" role="dialog" id="mySearchModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Search by Id</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form id="searchMovieForm" method="post">
                        <div class="form-group">
                            <label>Movie ID</label>
                            <input type="text" id="searchId" name="searchId" class="form-control" />
                        </div>
                    </form>
                </div>
                <div class="container">
                    <div class="row">
                        <table id="modalSearchTable" class="table table-striped table-responsive">
                            <thead>

                            </thead>
                            <tbody>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="BtnSaveSearchContent">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>