﻿
<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myDeleteModal" id="BtnDeleteMovie">
    Remove
</button>

<div class="modal fade" tabindex="-1" role="dialog" id="myDeleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <label>Dvd Id Number</label>
                        <input type="text" id="dvdDeleteId" name="dvdDeleteId" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="BtnConfirmDelete">Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->