﻿@model Exercises.Models.Data.Major

@{
    ViewBag.Title = "Add Major";
}


<div class="row">
    <div class="col-xs-12">
        <h3>Add Major</h3>
        @Html.ActionLink("Return to List", "Majors", "Admin")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label>Major</label>
                @Html.TextBoxFor(m => m.MajorName, new {@class = "form-control", placeholder = "Major"})
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Save</button>
        }
    </div>
</div>      
